.nav{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    /* position: absolute; */
}

.list{
    background-color: aqua;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}