.section{
    height: 100%;
    width: 100%;
    background: transparent;
    background-image: url(../imgs/pets.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    /* overflow-x: none ; */
}

.hero{
    height: 120vh;
    display: flex;
    margin-top: 0;
}